@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

html {
  font-family: "Poppins", sans-serif;
}

.react-tabs__tab-list {
  border-bottom: 0 !important;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: rgb(250 204 21) !important;
  background-color: #037857 !important;
  border-radius: 5px 5px 0 0;
}
